@model scenario.Models.Story

@{
    ViewBag.Title = "Usuwanie opowiadania";
}

<h2>@ViewBag.Title</h2>

<h3>Czy na pewno chcesz usunąć to opowiadanie?</h3>
<fieldset>
    <legend>Story</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Leader)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Leader.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedAt)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Wróć do listy", "Index")
    </p>
}
