@model scenario.Models.Voting

@{
    ViewBag.Title = "Szczegóły głosowania";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Voting</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Story)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Story.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Open)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Open)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedAt)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Threads)
    </div>
    <div class="display-field">
        <table>
            <tr>
                <th>Wątek</th><th>Liczba głosów</th><th></th>
            </tr>
            @foreach (var Thread in Model.Threads)
            {
                <tr>
                    <td>@Thread.Title</td>
                    <td>@Model.Votes.Where(v => v.Thread == Thread).Count()</td>
                    <td>
                        @if (WebSecurity.IsAuthenticated && Model.Open && Model.Votes.Where(v => v.UserId == WebSecurity.CurrentUserId).Count() == 0)
                        {
                            @Html.ActionLink("Oddaj głos", "Vote", new { id = Model.ID, thread_id = Thread.ID })
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
