@model scenario.Models.CharacterRelation

@{
    ViewBag.Title = "Tworzenie relacji między postaciami";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CharacterRelation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Character1)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Character1ID", String.Empty)
            @Html.ValidationMessageFor(model => model.Character1ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Character2)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Character2ID", String.Empty)
            @Html.ValidationMessageFor(model => model.Character2ID)
        </div>

        <p>
            <input type="submit" value="Utwórz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
